
.title{
    font-size: 20px;
}
.imgBox{
    width: 200px;
    height: 140px;
    border: 1px solid #ccc;
}
.imgBox img{
    width: 100%;
    height: 100%;
}
.frm {
    width: 750px;
    margin: auto;
    overflow: hidden;
    margin-top: 3%;
    box-shadow: 0px 0px 2px 0px #888888;
}
.form-control{
    width: 100%;
}
.headerfrm {
    width: 100%;
    background-color: #eee;
    float: left;
    padding: 10px 25px;
}

.headerfrm span {
    font-size: 20px;
}

.body {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 15px 25px;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.footer {
    width: 100%;
    background-color: #eee;
    float: left;
    padding: 10px 25px;
}

.footer .btnAdd {
    float: right;
}
.Box{
    width: 100px;
    height: 60px;
}
.Box img{
    width: 100%;
    height: 100%;
}
.message{
    background-color: #10b671;
    padding: 20px 40px;
}
.mycard{
    font-family: 'Hanuman', serif;
    margin-top: 20px;
}
.sms{
    color:red;
    margin-top: 5px;
}

.filetype{
    opacity: 0;
    width: 200px;
    height: 140px;
}
.btnBrowse{
    margin-top: 10px;
    background-color: #10b671;
    padding: 5px 15px;
    color: #fff;
    margin-left: 53px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.loader {
    margin-left:520px;
    margin-top: 200px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }